
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-color: #252525;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
    box-shadow: 15px;
}

.name-logo{
    font-size: 2em;
    color: #f1ecec;
    cursor: default;
}

.navigation a {
    font-size: 1.1em;
    color: #f5eded;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
    transition: .3s;

}

.navigation a:hover{
    color: #38c958
}

button {
    display: inline-block;
    border-radius: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 30px;
    overflow: hidden;
    cursor: pointer;
    background-color: #aee637;
    color: black;
    text-shadow: 15px;
}

button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #149c68;
    transition: 500ms all;
    color: black;
}

body{
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #383939;
      
}
